// project/views/email.jade

doctype transitional
html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= subject
    body
      h1.h1 Welcome to P2PDrop
      p
        |Just one more step - please confirm your email address by verifying the code 
        strong= verificationCode
        |.
      h3.h3 Team P2PDrop
